#create-item {
    display: none;
}

.pull-right{
    float: right;
}

.table-bordered{
    border: 1px solid #ddd;
    //min-width: 75em;
    //width: 50%;
    margin: 0 auto;
    display: inline-block;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #a1a1a1 !important;
    min-width: 150px;
}


.btn {
    background: #0099ff;
    background-image: -webkit-linear-gradient(top, #0099ff, #0f161a);
    background-image: -moz-linear-gradient(top, #0099ff, #0f161a);
    background-image: -ms-linear-gradient(top, #0099ff, #0f161a);
    background-image: -o-linear-gradient(top, #0099ff, #0f161a);
    background-image: linear-gradient(to bottom, #0099ff, #0f161a);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#container{
    text-align: center;
}

.modal-dialog{
    background-color: #ffffff;
    width: 25%;
    text-align: center;
    margin: 30px auto;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    min-width: 40em;
    padding: 30px;
}

.form-control{
    border-color: #1f648b;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}

.close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}